/* GENERAL ----------------------------------------------- */

body {
  font-size: 16px;
  background-color: #EFEFEF;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

section {
  background-color: white;
  padding: 60px 30px;
  border-radius: 20px;
}

p {
  line-height: 22px;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
}

/* HEADER ----------------------------------------------------- */

header {
  background-color: white;
  padding: 15px 0;
  border-bottom: 1px solid red;
}

header img {
  width: 150px; 
}

/* MAIN -------------------------------------------------------- */

main {
  margin: 50px 0px;
}

.subtitle {
  text-align: center;
}

.photos {
  margin-top: 50px;
  text-align: center;
}

.photos img {
  width: 280px;
  height: 280px;
  margin-right: 30px;
  border-radius: 10px;
  object-fit: cover;
}

section p {
  text-align: left;
  font-size: 17px;
}

.time-total {
  text-align: center;
  background-color: #8A98B1;
  width: 350px;
  padding: 10px;
  margin: 0px auto;
  border-radius: 10px;
  color: white;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  line-height: 20px;;
}

ul li {
  font-size: 15px;
}



/* FOOTER ---------------------------------------------------- */

footer {
  text-align: center;
  font-size: 16px
}



